.button-start-recipe {
  bottom: 0;
  position: fixed;
}

.carrousel {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  width: 360px;
}

.image-drink-recommended {
  width: 190px;
}

.ingredient-ul {
  display: flex;
  flex-wrap: column;
}

.ingredient-checked {
  text-decoration: line-through;
}

.ingredient-unchecked {
  text-decoration: none solid black;
}
